@font-face {
    font-family: Cuprum; 
    src: url(fonts/cuprum_regular.ttf); 
}
body{
	margin: 0;
	width:1600px;
}
header{
	width: 100%;
	background-color: #3c5a71;
}
div.container{
	width: 1170px;
	margin: 0 auto;
}
div.header-menu{
	height: 100px;
	padding: 0 33px;
}
div.header-menu .row{
	height: 100%;
}
div.header-menu a{
    font-family: Cuprum;
	height: 100%;
    border: none;
	line-height: 100px;
	width: 112px;
	text-align: center;
	margin-right: 15px;
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 18px;
}
header div.info-block{
	display: inline-block;
    right: 30px;
    position: relative;
    float: right;
    color: white;
    height: 100%;
    padding-top: 30px;
    font-family: Cuprum;
}
header div.info-block .phone{
    font-size: 29px;
}
header div.info-block .phone .code{
    font-size: 18px;
}
header div.info-block .e-mail{
    font-size: 12px;
    float: right;
}
div.header-image{
	height: 512px;
	width: 1600px;
	background-image: url(images/header.png);
	background-repeat: no-repeat;
	margin: 0 auto;
	
}
div.header-image .logo{
    background-image: url(images/logo.png);
    width: 215px;
    height: 70px;
}
